* {
  color: rgba(89, 53, 10, 0.988);
}
nav {
  display: flex;
  border-radius: 80px;
  background-color: rgba(248, 219, 140, 0.437);
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-between;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 90%;
}
.child {
  background-color: rgb(255 210 95 / 72%);
  border-radius: 60px;
  justify-content: space-between;
  color: rgba(89, 53, 10, 0.941);
  margin: 10px;
  width: 6rem;
  height: 2rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  font-weight: 600;
  padding: 3px 10px;
}
#first {
  width: 13.5rem;
  height: 4rem;
  font-size: 2rem;
}
.child img {
  width: 30px;
  padding-right: 10px;
}
.honey {
  width: 100%;
  border-radius: 30px 30px 0 0;
}
.imgArticle {
  width: 100%;
}
.card {
  border-radius: 30px;
  background-color: rgb(255 218 169 / 41%);
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
article {
  background-color: rgb(255 218 169 / 41%);
  border-radius: 20px;
  width: 90%;
  padding: 20px;
  margin-bottom: 10px;
}
.wrap {
  display: flex;
  flex-direction: row;
}
.wrap2 {
  display: flex;
  flex-direction: row;
}
.father {
  display: flex;
  flex-direction: column;
  border: 10px 20px;
  background-color: rgb(255 218 169 / 41%);
  padding: 10px;
}
body {
  width: 100%;
}
main {
  margin: auto;
  width: 90%;
}
button {
  color: rgba(89, 53, 10, 0.941);
  background-color: rgb(255 210 95 / 72%);
  border-radius: 60px;
  border: none;
  padding: 10px 50px;
  font-weight: 600;
}
.scrittaCard {
  display: flex;
  justify-content: space-around;
  margin: 15px;
}
.prezzo {
  display: flex;
  align-items: center;
}
h4 {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 4px;
}
h1 {
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 30px;
  text-align: center;
}
h2 {
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 10px;
  text-align: center;
}
h3 {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 5px;
  margin-bottom: 10px;
}
p {
  margin-bottom: 10px;
}

@media screen and (min-width=576px) {
  .father {
    display: flex;
    flex-direction: row;
  }
  nav {
    flex-direction: row;
  }
}
